<h1><%= current_user.username %> Bookshelf</h1>
<h3>Add a new book to your shelf!</h3>

<form action="/books" method="post">
    <label>Title: </label>
    <input type="text" name="book[title]" id="book_title"><br>
    <label>Author: </label>
    <input type="text" name="book[author]" id="book_author"><br>
    <label>Genre: </label>
    <input type="text" name="book[genre]" id="book_genre">
    <input type="submit" value="Create Book">
</form>