<form action="/books/<%= copy.id %>" method="post">
<input type="hidden" name="_method" value="DELETE">

<h2><%= copy.title %></h2>
<h4><%= copy.author %></h4>
<h4><%= copy.genre %></h4>

<input type="submit" value="delete">

</form>