<h1>Sign Up: </h1>
      <% binding.pry %>
<form action="/signup" method="post">
<input type="text" name="username" placeholder="username:">
<input type="password" name="password" placeholder="Password:">
<input type="text" name="email" id="Email Address: ">
<input type="submit" value="Sign Up">
</form>